/*  Super Search
    Author: Kushagra Gour (http://kushagragour.in)
    MIT Licensed
*/

input#js-search__input {
  font-size: 12px;
  font-family: "Roboto Condensed", Arial, sans-serif;
}
.is-active .search__input {
  transform: translateY(0);
}
.search__results {
  list-style: none;
  padding: 0;
  overflow-x: hidden;
  height: calc(100% - 110px);
  transition: 0.2s ease;
}
.search__result-link{
display: block;
width: 100%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.search__results.is-hidden {
  opacity: 0;
  transform: translateY(-1vh);
  display: none;
}
.search__results > div {
  padding: 10px;
  border-top: 1px solid #f0f0f0;
}
.search__results > li > a {
  display: block;
  padding: 10px;
}
.search__result-date {
  display: inline-block;
  color: #BBB;
  font-size: 11.5px;
  font-style: italic;
  float: right;
}
.search__result-type {
  display: inline-block;
  color: #BBB;
  font-size: 11.5px;
  font-style: italic;
  float: left;
}
.search.is-active {
  opacity: 1;
  visibility: visible;
}
