---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">Recent Books</h1>
    <hr />
  </header>

  <div class="post-content">
    {{ content }}


    <div class="books">
      {% include book_tags.html %}
      
      {% for i in site.data.books %}
      <div class="book-item book-outer" data-tags='{{ i.tags | jsonify | downcase }}'>
        <div class="book-inner">
          <a href="{{ i.pktURL }}" target="_blank">
            <div class="book-cover bordered" style="background-image: url('https://raw.githubusercontent.com/PacktPublishing/expert-network/master/static/img/_books/{{ i.ISBN }}.png');"></div>
          </a>
             <a class="book-detail" href="{{ i.pktURL }}" target="_blank" title="{{ i.name }}">
              <h3 class="book-name">{{ i.name }}</h3>
            </a>

          <div class="book-tags">
            <div class="tag-holder">
              {% if i.tags %}
                {% for j in i.tags %}
                  <span class="tags tag-filter" data-tag="{{ j | downcase }}"><a href="#{{ j }}">{{ j }}</a></span>
                {% endfor %}
              {% endif %}
            </div>
          </div>
          <div class="book-links">
            <a href="{{ i.amzURL }}" class="book-repo" title="Amazon book page" target="_blank"><i class="fab fa-amazon"></i></a>
            {% if i.gitURL %}
              <a href="{{ i.gitURL }}" class="book-repo" title="View code files on GitHub" target="_blank"><i class="fab fa-github"></i></a>
            {% endif %}
            <span class="book-pubdate">{{ i.pubDate | date_to_string }}</span>
          </div>
        </div>
        <hr>
      </div>
      {% endfor %}
    </div>
  </div>
</article>
